@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,500&display=swap');
@import "~normalize.css";

/* точка входа для стилей*/
@import "header";
@import "toolbar";
@import "formula";
@import "table";
@import "dashboad";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:  'Playfair Display', sans-serif;
  font-size: 12px;
}

.excel {
  position: relative;
  color: #888888;
  height: 100%;
  max-width: 100%;
  font-size: .8rem;
}